h1{color:blue}

img{
    width: 400px;
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: cornflowerblue;
    padding: 50px;
    border: 5px #f245f2 solid;

}

#spanId{
    font-size: 18px;
    margin: 50px;
}

.image-fondo{
    background-image: url(/home/horacio/Escritorio/Curso.Prep.Henry/08-HTML/img/fondopagina.jpg);
    background-size: cover;
}
